<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eleaveapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ELeave"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EleaveApplication">
        <activity android:name=".Admin.Admin_common"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:parentActivityName=".Admin.Admin_dashboard">
        </activity>
        <activity android:name=".Admin.Admin_dashboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity android:name=".Common_employee"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:parentActivityName=".Employee_dashboard"/>
        <activity
            android:name=".Employee_dashboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Admin.Admin"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Splash_screen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>